* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.card {
    width: 300px;
    height: 300px;
    box-shadow: 0 5px 5px rgba(40, 40, 40, 0.5);
    border-radius: 15px;
    padding: 20px 40px;
}

.title-card {
    margin-bottom: 20px;
}

.desc-card {
    height: 220px;
    overflow-y: scroll;
}

header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: rgb(94, 2, 94);
    color: white;
    width: 100vw;
    align-items: center;
}

nav {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}